@font-face {
  font-family: Lora-Regular;
  src: url(../fonts/lora/Lora-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lora-Medium;
  src: url(../fonts/lora/Lora-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Lora-SemiBold;
  src: url(../fonts/lora/Lora-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Lora-Bold;
  src: url(../fonts/lora/Lora-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/roboto/Roboto-Medium.eot);
  src: url(../fonts/roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/roboto/Roboto-Medium.woff2) format("woff2"),
    url(../fonts/roboto/Roboto-Medium.woff) format("woff"),
    url(../fonts/roboto/Roboto-Medium.ttf) format("truetype"),
    url(../fonts/roboto/Roboto-Medium.svg#Roboto-Medium) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/roboto/Roboto-Regular.eot);
  src: url(../fonts/roboto/Roboto-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/roboto/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/roboto/Roboto-Regular.woff) format("woff"),
    url(../fonts/roboto/Roboto-Regular.ttf) format("truetype"),
    url(../fonts/roboto/Roboto-Regular.svg#Roboto-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/roboto/Roboto-Light.eot);
  src: url(../fonts/roboto/Roboto-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/roboto/Roboto-Light.woff2) format("woff2"),
    url(../fonts/roboto/Roboto-Light.woff) format("woff"),
    url(../fonts/roboto/Roboto-Light.ttf) format("truetype"),
    url(../fonts/roboto/Roboto-Light.svg#Roboto-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}
body,
html {
  font-family: Roboto-Regular;
  height: 100%;
}
body {
  background: #fff;
  color: #393e46;
}
p {
  font-family: Roboto-Regular;
  color: #393e46;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button,
button:focus,
button:hover {
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
form-control,
form-control:focus,
form-control:hover,
input,
input:focus,
input:hover,
textarea,
textarea:focus,
textarea:hover {
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  color: inherit;
}
.ts-space20 {
  height: 20px;
  width: 100%;
}
.ts-space25 {
  height: 25px;
  width: 100%;
}
.ts-space50 {
  height: 50px;
  width: 100%;
}
.ts-space60 {
  height: 60px;
  width: 100%;
}
.ts-space70 {
  height: 70px;
  width: 100%;
}
.list-users-02 ul.images {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.list-users-02 ul.images li {
  position: relative;
  list-style: none;
  display: inline-block;
}
.list-users-02 ul.images li:not(:first-child) {
  margin-left: -20px;
}
.list-users-02 ul.images li img {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.list-users-02 p {
  font-family: Lora-Regular;
  color: #d2d1d1;
  font-size: 13px;
  margin-bottom: 0;
  line-height: 40px;
  display: inline-block;
}
.list-users-02 p span {
  font-family: Lora-Medium;
  color: #fff;
}
.list-users-02 .share {
  font-family: Lora-Regular;
  font-size: 13px;
  color: #d2d2d2;
  line-height: 30px;
  margin-left: 60px;
  display: inline-block;
}
.list-users-02 .share svg {
  width: 21px;
  height: 21px;
  fill: #d2d2d2;
  margin-right: 5px;
}
.list-users-05 ul.images {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.list-users-05 ul.images li {
  position: relative;
  list-style: none;
  display: inline-block;
}
.list-users-05 ul.images li:not(:first-child) {
  margin-left: -20px;
}
.list-users-05 ul.images li img {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.list-users-05 p {
  font-family: Lora-Regular;
  color: #a0a0a0;
  font-size: 13px;
  margin-bottom: 0;
  line-height: 40px;
  display: inline-block;
}
.list-users-05 p span {
  font-family: Lora-Medium;
  color: #6f7885;
}
.list-users-05 .item-wrapper {
  display: inline-block;
  margin-left: 97px;
}
.list-users-05 .item {
  font-family: Lora-Regular;
  font-size: 13px;
  color: #a0a0a0;
  line-height: 30px;
  margin-left: 35px;
  cursor: pointer;
  display: inline-block;
}
.list-users-05 .item svg {
  width: 21px;
  height: 21px;
  fill: #a0a0a0;
  margin-right: 5px;
}
.list-users-05 .item:hover,
.list-users-05 .item:hover svg {
  color: #f96d00;
  fill: #f96d00;
}
#nprogress {
  pointer-events: none;
  background: #e1e1ea;
  width: 100%;
  height: 3px;
  top: 0;
  display: inline-block;
  position: absolute;
}
.topbar-01 {
  background-color: #fbfbfb;
  border-bottom: 1px solid #f0f0f7;
  position: relative;
  display: block;
  width: 100%;
  height: 47px;
}
.topbar-01 .left .today {
  display: inline-block;
  float: left;
  width: 134px;
}
.topbar-01 .left .today p {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #6f7885;
  line-height: 47px;
}
.topbar-01 .left .searchbar {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  max-width: 390px;
}
.topbar-01 .left .searchbar form {
  position: relative;
  margin-bottom: 0;
}
.topbar-01 .left .searchbar form input[type="text"] {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #878787;
  background-color: #efefef;
  padding: 14px 20px 13px;
  width: 100%;
  border-radius: 15px;
}
.topbar-01 .left .searchbar form input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  outline: 0;
}
.topbar-01 .left .searchbar form button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topbar-01 .left .searchbar form img {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 99;
  width: 17px;
  cursor: pointer;
}
.topbar-01 .left .searchbar ::-webkit-input-placeholder {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #878787;
}
.topbar-01 .left .searchbar ::-moz-placeholder {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #878787;
}
.topbar-01 .left .searchbar :-ms-input-placeholder {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #878787;
}
.topbar-01 .left .searchbar :-moz-placeholder {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #878787;
}
.topbar-01 .right {
  text-align: right;
}
.notification {
  top: 0;
  position: relative;
  display: inline-block;
  margin-right: 0;
  cursor: pointer;
}
.notification .content-notification {
  position: absolute;
  right: -5px;
  opacity: 0;
  top: 60px;
  width: 390px;
  border-radius: 5px;
  z-index: -1;
  cursor: auto;
  background-color: #393e46;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.notification:hover .content-notification {
  opacity: 1;
  top: 45px;
  z-index: 9999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.notification .content-notification .content {
  display: inline-block;
  width: 100%;
  background-color: #3c4149;
  border-bottom: 1px solid #41464f;
}
.notification .content-notification .content .item {
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid #41464f;
}
.notification .content-notification .content .item .image {
  display: inline-block;
  width: 40px;
  float: left;
  margin-right: 12px;
}
.notification .content-notification .content .item .image img {
  border-radius: 3px;
}
.notification .content-notification .content .item .message {
  width: 312px;
  display: inline-block;
  float: left;
}
.notification .content-notification .content .item .message .time {
  font-family: Lora-Medium;
  font-size: 10px;
  line-height: 7px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #969a9f;
}
.notification .content-notification .content .item .message .time span {
  color: #f96d00;
}
.notification .content-notification .content .item .message .title {
  font-family: Lora-Medium;
  font-size: 14px;
  color: #fff;
}
.notification .content-notification .content .item .message .desc {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #969a9f;
}
.notification .content-notification .footer {
  text-align: center;
  padding: 15px 30px;
}
.notification .content-notification .footer a {
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #fff;
}
.notification .content-notification .footer a:hover {
  color: #f96d00;
}
.logupBtn {
  min-width: 7rem;
  border-radius: 16px;
  border-width: 1px;
  margin: 5px;
  padding: 3px 16px;
  background-color: #f96d00;
  color: #eee;
  font-family: Roboto-Medium;
}
.loginBtn {
  min-width: 7rem;
  border-radius: 16px;
  border-width: 1px;
  margin: 5px;
  padding: 3px 16px;
  background-color: #fff;
  border-color: #f96d00;
  color: #f96d00 !important;
  color: #eee;
  font-family: Roboto-Medium;
}
.loginBtn:hover {
  background-color: #f5f5f5;
  color: #000 !important;
}
.logupBtn:hover {
  background-color: #f97b19;
}
.topbar-01 .right .user-profile {
  top: -9px;
  height: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.topbar-01 .right .user-profile img {
  width: 35px;
  height: 35px;
  float: left;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
  top: -3px;
  position: relative;
}
.topbar-01 .right .user-profile p {
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #6f7885;
  display: inline-block;
}
.topbar-01 .right .user-profile p i {
  font-size: 9px;
  color: #6f7885;
  margin-left: 5px;
  top: -1px;
  position: relative;
}
.topbar-01 .right .user-profile .user-menu {
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0;
  background: #393e46;
  text-align: left;
  width: 220px;
  z-index: -1;
  border-radius: 5px;
  padding: 15px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topbar-01 .right .user-profile .user-menu:hover,
.topbar-01 .right .user-profile:hover .user-menu {
  opacity: 1;
  top: 38px;
  z-index: 9999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topbar-01 .right .user-profile .user-menu ul {
  padding: 0;
  margin: 0;
}
.topbar-01 .right .user-profile .user-menu ul li {
  list-style: none;
  display: block;
  padding: 8px 15px 8px 50px;
  position: relative;
}
.topbar-01 .right .user-profile .user-menu ul li:hover {
  background: #41464f;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topbar-01 .right .user-profile .user-menu ul li:hover:before {
  font-family: fontawesome;
  content: "\f0da";
  font-size: 14px;
  color: #f96d00;
  left: 25px;
  top: 10px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topbar-01 .right .user-profile .user-menu ul li:last-child {
  border-top: 1px solid #41464f;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.topbar-01 .right .user-profile .user-menu ul li:last-child:before {
  content: "";
  background-image: url(../images/svg/power-button-symbol.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: auto;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.topbar-01 .right .user-profile .user-menu ul li a {
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #6f7885;
}
.topbar-01 .right .user-profile .user-menu ul li:hover a {
  color: #fff;
}
.navbar-menu .navbar-brand.background-logo:before {
  content: "";
  background: #f96d00;
  width: 600px;
  height: 61px;
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -465px;
  cursor: auto;
}
.navbar-menu {
  background-color: #fff;
  z-index: 999;
  position: absolute;
  width: 100%;
  padding: 0;
}
.navbar-menu .dropdown-menu.active {
  display: block;
}
.navbar-menu .dropdown-menu.active.show {
  display: none;
}
.navbar-menu .navbar-toggler:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.navbar-menu .dropdown-item {
  font-family: Lora-Medium;
  color: #6f7885;
  background-color: transparent;
  font-size: 14px;
  padding: 8.5px 50px;
  border-bottom: none;
  position: relative;
  font-weight: 600;
}
.navbar-menu .dropdown-menu .dropdown-submenu.dropdown:hover {
  background: #f96d00 !important;
  color: #fff !important;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li:hover .dropdown-item {
  color: #fff;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li a.dropdown-item {
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li a.dropdown-item:hover {
  left: 5px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-menu .dropdown-item:before {
  content: "";
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  height: 0;
  width: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-menu .dropdown-item.active:before,
.navbar-menu .dropdown-item:hover:before {
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-menu .dropdown-item.active {
  background-color: transparent;
}
.navbar-menu .navbar-brand {
  color: #265196;
  font-size: 24px;
  font-weight: 700;
  margin-right: 63px;
  z-index: 9999;
  position: relative;
}
.navbar-menu .navbar-nav .nav-item .nav-link {
  font-family: Lora-Medium;
  color: #393e46;
  padding: 20px;
  font-size: 14px;
  position: relative;
  display: inline-block;
}
.navbar-menu .navbar-nav .nav-item .nav-link:hover {
  color: #f96d00;
}
.navbar-menu .navbar-nav .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 17px;
  left: 20px;
  right: 0;
  background: #f96d00;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-menu .navbar-nav .nav-item .nav-link:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 17px;
  margin: 0 auto;
  left: 20px;
  right: 0;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-menu .navbar-nav .nav-item .nav-link:hover:after {
  width: 5px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-menu .navbar-nav .nav-item.dropdown-submenu.dropdown .nav-link:after,
.navbar-menu .navbar-nav .nav-link.dropdown-toggle:after {
  display: inline-block;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  content: "\f078";
  font-family: fontawesome;
  color: #393e46;
  font-size: 8px;
  margin-left: 10px;
  position: relative;
  top: 1px;
  left: -9px;
}
.navbar-menu
  .navbar-nav
  .nav-item.dropdown-submenu.dropdown
  .nav-link:hover:after,
.navbar-menu .navbar-nav .nav-link.dropdown-toggle:after {
  width: 0 !important;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-menu .navbar-nav .nav-item .dropdown-toggle.nav-link,
.navbar-menu .navbar-nav .nav-item .dropdown-toggle.nav-link:before {
  background: 0 0;
}
.navbar-menu .dropdown-item:focus,
.navbar-menu .dropdown-item:hover {
  border-radius: 0;
}
.navbar-menu .navbar-nav .nav-item .nav-link:hover:before {
  width: 50%;
}
.navbar-menu .dropdown-menu {
  border: none;
  background-color: #393e46 !important;
  font-size: 14px;
}
.navbar-menu .dropdown-menu .nav-item .nav-link {
  color: #1c1c1c;
  padding: 6px 0;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li {
  position: relative;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li:hover {
  background: #41464f;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li:before {
  content: "";
  position: absolute;
  background: #ff5738;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  height: 0;
  width: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-menu .dropdown-submenu ul.dropdown-menu > li:hover:before {
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-menu.navbar .dropdown-submenu .dropdown-submenu .dropdown-toggle:after {
  display: inline-block;
  margin-left: 10px;
  top: 2px;
  position: relative;
  border-top: none;
  border-right: none;
  border-bottom: 0;
  border-left: none;
}
.navbar-menu.navbar .dropdown-submenu .dropdown-submenu > .dropdown-item:after {
  content: "\f054";
  font-family: fontawesome;
  font-size: 9px;
  margin-left: 10px;
  top: 2px;
}
.navbar-menu
  .dropdown-submenu
  .dropdown-submenu
  ul.dropdown-menu
  > li
  .dropdown-item {
  color: #6f7885;
}
.navbar-menu #sidebarCollapse {
  width: 61px;
  height: 61px;
  background: 0 0;
  cursor: pointer;
  margin-left: 10px;
}
.navbar-menu #sidebarCollapse span {
  width: 33px;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #f96d00;
  transition: all 0.2s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.1s;
}
.navbar-menu #sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(3px, 3px);
}
.navbar-menu #sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
.navbar-menu #sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -2px);
}
.navbar-menu #sidebarCollapse.active span {
  width: 27px;
  transform: none;
  opacity: 1;
  margin: 5px auto;
}
.navbar-menu #sidebarCollapse span:nth-of-type(3) {
  opacity: 0;
}
.navbar-menu #sidebarCollapse.active span:nth-of-type(3) {
  opacity: 1;
}
.navbar-menu {
  font-weight: 600;
}
nav .dropdown {
  position: initial;
}
#section-slider.slider02 {
  padding: 120px 0 0;
  background-color: #f2f2f8;
}
#section-slider.slider02 .thumbnail-1 {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  float: left;
}
#section-slider.slider02 .thumbnail-1.v1 {
  width: 570px;
  height: 552px;
}
#section-slider.slider02 .thumbnail-1.v2 {
  margin: 0 2px;
  float: right;
}
#section-slider.slider02 .thumbnail-1.v3 {
  margin: 0 2px;
  float: right;
  margin-right: 7px;
}
#section-slider.slider02 .thumbnail-1.v2,
#section-slider.slider02 .thumbnail-1.v3 {
  max-width: 290px;
  height: 552px;
}
#section-slider.slider02 .thumbnail-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-slider.slider02 .list-users-02 ul.images li img {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
}
#section-slider.slider02 .list-users-02 p {
  line-height: 30px;
}
#section-slider.slider02 .list-users-02 h3 {
  font-family: Lora-Medium;
  font-size: 24px;
  color: #fff;
  line-height: 36px;
  margin: 10px 0 40px;
}
#section-slider.slider02 .thumbnail-1.v2 .list-users-02 h3,
#section-slider.slider02 .thumbnail-1.v3 .list-users-02 h3 {
  font-size: 18px;
}
#section-slider.slider02 svg {
  width: 21px;
  height: 21px;
  fill: #dcdcdc;
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-slider.slider02 .like {
  font-family: Lora-Regular;
  font-size: 13px;
  color: #dcdcdc;
  line-height: 30px;
  margin-left: 0;
  display: inline-block;
}
#section-slider.slider02 .thumbnail-1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 -210px 150px -70px #393e46;
  box-shadow: inset 0 -210px 150px -70px #393e46;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-slider.slider02 .thumbnail-1 a:hover .overlay {
  -webkit-box-shadow: inset 0 -210px 150px -70px #f96d00;
  box-shadow: inset 0 -210px 150px -70px #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-slider.slider02 .thumbnail-1 .overlay .overlay-content {
  bottom: -25px;
  padding: 0 30px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-slider.slider02 .thumbnail-1:hover .overlay .overlay-content {
  bottom: 45px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-slider.slider05 {
  height: 100%;
  max-height: 665px;
  z-index: 99;
  overflow: hidden;
  position: relative;
}
#section-slider.slider05.v3 {
  max-height: 540px;
}
#section-slider.slider05 .slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-slider.slider05 .slider-content {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 43%;
  text-align: center;
  transform: translateY(50%);
}
#section-slider.slider05.v2 .slider-content {
  bottom: 54.7%;
}
#section-slider.slider05.v3 .slider-content {
  bottom: auto;
  top: 77px;
}
#section-slider.slider05 .slider-content span {
  font-family: Lora-Medium;
  font-size: 14px;
  color: #eee;
  display: inline-block;
  margin-bottom: 16px;
}
#section-slider.slider05 .slider-content h1 {
  font-family: Lora-Medium;
  font-size: 36px;
  color: #fff;
}
#section-contents {
  padding: 100px 0 70px;
  background-color: #f2f2f8;
}
.bg-404 {
  background-color: #f1ddca;
}
.bg-orange {
  background-color: #f96d00;
}
.block-title-1 {
  padding: 22px 30px;
  background-color: #fafafc;
  border: 1px solid #e6e6f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.block-title-1 h3 {
  font-family: Lora-Medium;
  font-size: 13px;
  color: #393e46;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.block-title-1 img {
  width: 18px;
  float: right;
}
.block-title-2 {
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 30px;
}
.block-title-2 h3 {
  font-family: Lora-Semibold;
  font-size: 13px;
  color: #393e46;
  display: inline-block;
  padding-bottom: 13px;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
}
.block-title-2 h3:before {
  content: "";
  background-color: #f96d00;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.block-style-4 {
  text-align: center;
}
.block-style-4 img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-4 img:hover {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-6 .tweets {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #e6e6f2;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.block-style-6 .tweets .item {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
.block-style-6 .tweets .item:last-of-type {
  border-bottom: none;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.block-style-6 .tweets .item .tweet-img {
  width: 40px;
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.block-style-6 .tweets .item .tweet-content {
  width: 253px;
  display: inline-block;
  float: left;
  position: relative;
}
.block-style-6 .tweets .item .tweet-content i {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 18px;
  color: #d3d4d6;
}
.block-style-6 .tweets .item .tweet-content h5 {
  font-family: Lora-Medium;
  font-size: 13px;
  line-height: 38px;
  margin-bottom: 0;
  color: #393e46;
}
.block-style-6 .tweets .item .tweet-content h5 span {
  color: #6f7885;
  margin-left: 5px;
}
.block-style-6 .tweets .item .tweet-content p {
  color: #6f7885;
}
.block-style-6 .tweets .item .tweet-content p span {
  color: #f96d00;
}
.block-style-10 .small-list-posts {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #e6e6f2;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.block-style-10 .small-list-posts .item {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-10 .small-list-posts .item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.block-style-10 .small-list-posts .item:hover {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-10 .small-list-posts .item .thumbnail-img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  float: left;
  display: inline-block;
}
.block-style-10 .small-list-posts .item .thumbnail-img img {
  border-radius: 3px;
  object-fit: cover;
}
.block-style-10 .small-list-posts .item .content {
  width: 210px;
  padding-top: 15px;
  display: inline-block;
}
.block-style-10 .small-list-posts .item .content h3 {
  font-family: Lora-Medium;
  font-size: 14px;
  color: #393e46;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-10 .small-list-posts .item:hover h3 {
  color: #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-10 .small-list-posts .item .content span {
  font-family: Lora-Medium;
  font-size: 11px;
  color: #6f7885;
}
.block-style-12 {
  margin-bottom: 30px;
}
.block-style-12 .contents {
  background-color: #fff;
}
.block-style-12 .contents .thumbnail-1 {
  position: relative;
}
.topicView {
  font-family: Lora-Regular;
  font-size: 12px;
  color: #fff;
  min-width: 100px;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  bottom: 25px;
  left: 30px;
  border-radius: 3px;
  z-index: 99;
  background-color: #aa60d1;
}
.myTopic {
  font-family: Lora-Regular;
  font-size: 12px;
  color: #fff;
  min-width: 100px;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  bottom: 25px;
  left: 30px;
  border-radius: 3px;
  z-index: 99;
  background-color: #aa60d1;
  cursor: pointer;
}
.myDeleteTopic {
  font-family: Lora-Regular;
  font-size: 12px;
  color: #fff;
  min-width: 60px;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  bottom: 25px;
  right: 30px;
  border-radius: 3px;
  z-index: 99;
  background-color: #d32f2f;
  cursor: pointer;
}
.myEditTopic {
  font-family: Lora-Regular;
  font-size: 12px;
  color: #fff;
  min-width: 60px;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  bottom: 70px;
  right: 30px;
  border-radius: 3px;
  z-index: 99;
  background-color: #1e88e5;
  cursor: pointer;
}
.block-style-12 .contents .thumbnail-1 img {
  width: 270px;
  height: 160px;
  object-fit: cover;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-12 .contents .thumbnail-1 a:hover {
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-12 .contents .content-wrapper {
  padding: 30px 30px 23px;
  background-color: #fff;
  width: 270px;
  height: 286px;
}
.block-style-12 .contents .content-wrapper .line {
  margin-bottom: 25px;
  display: block;
  width: 70px;
  height: 2px;
  background: #f96d00;
}
.block-style-12 .contents .content-wrapper .title {
  margin-bottom: 10px;
  display: inline-block;
}
.block-style-12 .contents .content-wrapper .title h2 {
  font-family: Lora-SemiBold;
  font-size: 18px;
  color: #393e46;
  line-height: 27px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-12 .contents .content-wrapper .title h2:hover {
  color: #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-12.v2 .contents .content-wrapper .line {
  width: 25%;
}
.block-style-12.v2 .contents .content-wrapper .title h2 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}
.block-style-12.v2 .contents .content-wrapper .line {
  margin-bottom: 17px;
}
.block-style-13 {
  margin-bottom: 30px;
}
.block-style-13 .content-wrapper {
  background-color: #fff;
}
.block-style-13 .content-wrapper .recent-videos .item {
  padding: 20px 30px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-13 .content-wrapper .recent-videos .item:hover {
  background-color: #fbfbfb;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-13 .content-wrapper .recent-videos .item .video_thumbnail {
  width: 240px;
  height: 150px;
  position: relative;
  float: left;
  display: inline-block;
}
.block-style-13 .content-wrapper .recent-videos .item .video_thumbnail img {
  object-fit: cover;
  border-radius: 3px;
  width: 100%;
  height: 150px;
}
.block-style-13 .content-wrapper .recent-videos .item .video_description {
  width: 460px;
  padding: 0 30px;
  display: inline-block;
}
.block-style-13 .content-wrapper .recent-videos .item .video_description h4 {
  font-family: Lora-Medium;
  font-size: 11px;
  margin-bottom: 18px;
  color: #6f7885;
  text-transform: uppercase;
}
.block-style-13
  .content-wrapper
  .recent-videos
  .item
  .video_description
  h4
  span {
  color: #f96d00;
  margin-left: 18px;
}
.block-style-13 .content-wrapper .recent-videos .item .video_description h2 {
  font-family: Lora-SemiBold;
  font-size: 18px;
  color: #393e46;
  margin-bottom: 22px;
}
.block-style-13 .content-wrapper .see-all-comments {
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #eee;
}
.block-style-13 .content-wrapper .see-all-comments a {
  font-family: Lora-Medium;
  padding: 15px 30px;
  font-size: 12px;
  color: #393e46;
  margin-bottom: 0;
  display: block;
}
.block-style-13 .content-wrapper .see-all-comments a:hover {
  color: #f96d00;
}
.block-style-15 .content-wrapper {
  background-color: #fff;
  padding: 60px 50px 52px;
  display: inline-block;
}
.block-style-15 .content-wrapper .left {
  width: 600px;
  display: inline-block;
  float: left;
}
.block-style-15 .content-wrapper .left .thumbnail-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
}
.block-style-15 .content-wrapper .left .details {
  display: inline-block;
  width: 500px;
  padding: 0 30px;
}
.block-style-15 .content-wrapper .left .details {
  display: inline-block;
  width: 500px;
  padding: 0 30px;
}
.block-style-15 .content-wrapper .left .details h2 {
  font-family: Lora-Medium;
  color: #393e46;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 20px;
}
.block-style-15 .content-wrapper .left .details h6 {
  font-family: Lora-Medium;
  color: #6f7885;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.block-style-15 .content-wrapper .left .details .followers-post {
  width: 100%;
  display: inline-block;
  margin-bottom: 23px;
}
.block-style-15 .content-wrapper .left .details .followers-post a {
  color: #a0a0a0;
}
.block-style-15 .content-wrapper .left .details .followers-post a:hover {
  color: #f96d00;
}
.block-style-15 .content-wrapper .left .details .followers-post a svg {
  width: 21px;
  height: 21px;
  fill: #a0a0a0;
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-15 .content-wrapper .left .details .followers-post a:hover svg {
  fill: #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-15 .content-wrapper .left .details .followers-post .item {
  font-family: Lora-Regular;
  font-size: 13px;
  color: #d2d2d2;
  line-height: 30px;
  margin-left: 0;
  display: inline-block;
}
.block-style-15
  .content-wrapper
  .left
  .details
  .followers-post
  .item:first-of-type {
  margin-right: 30px;
}
.block-style-15 .content-wrapper .right {
  width: 465px;
  display: inline-block;
}
.block-style-15 .content-wrapper .right ul.social_links {
  margin-top: 35px;
  text-align: right;
}
.block-style-15 .content-wrapper .right ul.social_links li {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d9d9d7;
  margin-right: 10px;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-15 .content-wrapper .right ul.social_links li:last-child {
  margin-right: 0;
}
.block-style-15 .content-wrapper .right ul.social_links li:hover {
  background-color: #f96d00;
  border: 1px solid #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-15 .content-wrapper .right ul.social_links li a {
  color: #999;
  font-size: 13px;
  line-height: 45px;
  display: block;
}
.block-style-15 .content-wrapper .right ul.social_links li:hover a {
  color: #fff;
}
.block-style-15 .content-wrapper .right ul.social_links li a i {
  line-height: 45px;
}
.block-style-16 {
  background-color: #fff;
  padding: 67px 70px 53px;
}
.block-style-16 h6 {
  font-family: Lora-Regular;
  font-size: 12px;
  color: #6f7885;
  margin-bottom: 20px;
}
.block-style-16 h6 span {
  font-family: Lora-Medium;
  font-size: 12px;
  color: #f96d00;
}
.block-style-16 h1 {
  font-family: Lora-Medium;
  font-size: 36px;
  color: #393e46;
  margin-bottom: 52px;
}
.block-style-17 {
  position: relative;
}
.block-style-17 span {
  font-family: Lora-Regular;
  font-size: 12px;
  color: #fff;
  min-width: 70px;
  text-align: center;
  padding: 5px 15px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 3px;
  z-index: 99;
}
.block-style-18 {
  background: #fff;
  padding: 43px 70px 52px;
}
.block-style-18 h6 {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #6f7885;
  line-height: 27px;
  margin-bottom: 2px;
}
.block-style-18 p {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #6f7885;
  line-height: 30px;
}
.block-style-18 img {
  width: 100%;
}
.block-style-19 {
  background: #fff;
  padding: 0 70px;
}
.block-style-19 .content-wrapper {
  display: inline-block;
  padding: 35px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.block-style-19 .content-wrapper .like {
  width: 50px;
  text-align: center;
  padding: 14px;
  border-radius: 3px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  background-color: #d9d9d7;
}
.block-style-19 .content-wrapper .like svg {
  width: 21px;
  fill: #6f7885;
}
.block-style-19 .content-wrapper .share {
  display: inline-block;
  float: left;
  width: 370px;
}
.block-style-19 .content-wrapper .share .item {
  font-family: Lora-Regular;
  color: #999;
  font-size: 13px;
  display: inline-block;
  float: left;
  border: 1px solid #d9d9d7;
  padding: 14px 22px;
  margin-left: 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-19 .content-wrapper .share .item i {
  font-size: 15px;
}
.block-style-19 .content-wrapper .share .item:hover {
  color: #f96d00;
  border: 1px solid #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-27 {
  padding: 67px 100px 47px;
  border-radius: 5px;
  border: 1px solid #eee;
  position: relative;
  max-width: 970px;
  margin: -230px auto 0;
  z-index: 99;
  background-color: #fff;
}
.block-style-27 h2 {
  font-family: Lora-Medium;
  font-size: 22px;
  color: #393e46;
  margin-bottom: 40px;
}
.block-style-27 .contact-form .form-group {
  margin-bottom: 30px;
}
.block-style-27 .contact-form form .row:last-of-type .form-group {
  margin-bottom: 0;
}
.block-style-27 .contact-form input,
.block-style-27 .contact-form textarea {
  font-family: Roboto-Regular;
  color: #6f7885;
  font-size: 16px;
  border: 2px solid #d6d9dc !important;
  background: 0 0;
  border-radius: 3px;
  padding: 28px 30px;
  letter-spacing: 0;
}
.block-style-27 .contact-form input:focus,
.block-style-27 .contact-form textarea:focus {
  border: 2px solid #d8d8d8 !important;
}
.block-style-27 .contact-form textarea {
  height: 122px;
}
.block-style-27 .contact-form ::-webkit-input-placeholder {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #6f7885;
}
.block-style-27 .contact-form ::-moz-placeholder {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #6f7885;
}
.block-style-27 .contact-form :-ms-input-placeholder {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #6f7885;
}
.block-style-27 .contact-form :-moz-placeholder {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #6f7885;
}
.block-style-27 .contact-form .buttonForm {
  font-family: Lora-Regular;
  font-size: 16px;
  background: #f96d00;
  color: #fff;
  border: none;
  padding: 21px 15px;
  width: 100%;
  max-width: 370px;
  margin-bottom: 22px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-27 .contact-form .buttonForm:hover {
  background: #d9d9d7;
  color: #6f7885;
}
.block-style-29 {
  border-radius: 5px;
  border: 1px solid #eee;
  position: relative;
  max-width: 570px;
  margin: -414px auto 0;
  z-index: 99;
  text-align: center;
  background-color: #fff;
}
.block-style-29 .login-wrapper {
  padding: 67px 100px 20px;
  border-bottom: 1px solid #eee;
  background-color: #fbfbfb;
}
.block-style-29 .login-wrapper h3 {
  font-family: Lora-SemiBold;
  font-size: 20px;
  color: #393e46;
  margin-bottom: 40px;
}
.block-style-29 .contact-form .form-group {
  margin-bottom: 30px;
}
.block-style-29 .contact-form input {
  font-family: Roboto-Regular;
  color: #6f7885;
  font-size: 16px;
  border: 1px solid #bbc0c4 !important;
  background: 0 0;
  border-radius: 3px;
  padding: 30px 30px;
  letter-spacing: 0;
}
.block-style-29 .contact-form button {
  font-family: Lora-Regular;
  font-size: 16px;
  background: #f96d00;
  color: #fff;
  border: none;
  padding: 21px 15px;
  width: 100%;
  max-width: 370px;
  margin-top: 7px;
  margin-bottom: 18px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.block-style-29 .contact-form button:hover {
  opacity: 0.9;
}
.block-style-29 .contact-form p {
  font-family: Roboto-Regular;
  color: #6f7885;
  font-size: 16px;
}
.block-style-29 .contact-form ul {
  padding: 0;
  margin: 0;
  margin-top: 4px;
}
.block-style-29 .contact-form ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.block-style-29 .contact-form ul li a {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #8c929a;
}
.block-style-29 .contact-form ul li a:hover {
  text-decoration: underline;
}
.block-style-29 .contact-form ul li a.register {
  color: #f96d00;
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.block-style-30 {
  text-align: center;
}
.block-style-30 .logo {
  margin-bottom: 208px;
}
.block-style-30 .header h6 {
  font-family: Lora-Medium;
  font-size: 14px;
  color: #6f7885;
  margin-bottom: 19px;
}
.block-style-30 .header h1 {
  font-family: Lora-Medium;
  font-size: 36px;
  color: #393e46;
  margin-bottom: 75px;
}
.block-style-30 .content-image {
  display: inline-block;
  margin-bottom: 44px;
}
.block-style-30 .cta-btn a {
  font-family: Lora-Regular;
  font-size: 14px;
  color: #fff;
  width: 100%;
  display: inline-block;
  max-width: 200px;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: #f96d00;
}
.block-style-30 .cta-btn a:hover {
  opacity: 0.9;
}
.add-comment .thumbnail-img {
  display: inline-block;
  float: left;
  top: 40px;
  position: relative;
}
.add-comment .thumbnail-img img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.add-comment .form-comment {
  width: 100%;
  display: inline-block;
}
.add-comment .form-comment form {
  margin-bottom: 13px;
}
.add-comment .form-comment textarea {
  font-family: Roboto-Regular;
  color: #6f7885;
  font-size: 16px;
  border: 1.5px solid #cfcfcf !important;
  background: 0 0;
  border-radius: 5px;
  padding: 20px 20px;
  letter-spacing: 0;
  margin-bottom: 15px;
}
.add-comment .form-comment button {
  font-family: Lora-Regular;
  font-size: 12px;
  background: #d9d9d7;
  color: #6f7885;
  border: none;
  padding: 12px 15px;
  width: 100%;
  max-width: 170px;
  margin-bottom: 22px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.add-comment .form-comment button:hover {
  background: #f96d00;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-contents.contact {
  padding: 100px 0 100px;
  background-color: #f2f2f8;
}
#section-contents.error-404 {
  padding: 65px 0 65px;
  background-color: #f1ddca;
}
#section-footer {
  padding-top: 100px;
  position: relative;
  background-color: #2d323a;
}
#section-footer .ft-column {
  margin-bottom: 30px;
}
#section-footer .ft-column .logo {
  margin-bottom: 35px;
}
#section-footer .ft-column p {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #6f7885;
  line-height: 30px;
}
#section-footer .ft-column h3 {
  font-family: Lora-Medium;
  font-size: 16px;
  margin-bottom: 42px;
  color: #eee;
}
#section-footer .ft-column ul {
  padding: 0;
  margin: 0;
}
#section-footer .ft-column li {
  list-style: none;
  margin-bottom: 14px;
}
#section-footer .ft-column ul.ft_social_links {
  margin-top: 35px;
}
#section-footer .ft-column ul.ft_social_links li {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #41464f;
  margin-right: 10px;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-footer .ft-column ul.ft_social_links li:last-child {
  margin-right: 0;
}
#section-footer .ft-column ul.ft_social_links li:hover {
  background-color: #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-footer .ft-column ul.ft_social_links li a {
  color: #6f7885;
  font-size: 13px;
  line-height: 45px;
  display: block;
}
#section-footer .ft-column ul.ft_social_links li:hover a {
  color: #fff;
}
#section-footer .ft-column ul.ft_social_links li a i {
  line-height: 45px;
}
#section-footer .ft-column .tweets .item {
  border-bottom: 1px solid #343941;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
#section-footer .ft-column .tweets .item:last-of-type {
  border-bottom: none;
  padding-bottom: 20px;
  margin-bottom: 0;
}
#section-footer .ft-column .tweets .item .tweet-img {
  width: 40px;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#section-footer .ft-column .tweets .item .tweet-content {
  width: 310px;
  display: inline-block;
  float: left;
}
#section-footer .ft-column .tweets .item .tweet-content h5 {
  font-family: Lora-Regular;
  font-size: 13px;
  color: #eee;
}
#section-footer .ft-column .tweets .item .tweet-content h5 span {
  color: #6f7885;
}
#section-footer .ft-column .tweets .item .tweet-content p {
  color: #6f7885;
}
#section-footer .ft-column .tweets .item .tweet-content p span {
  color: #f96d00;
}
#section-footer .ft-column .instagram-01 {
  margin-left: -5px;
  margin-right: -5px;
}
#section-footer .ft-column .instagram-01 ul li {
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 12px;
}
#section-footer .ft-column .recentnews-02 .item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #343941;
}
#section-footer .ft-column .recentnews-02 .item a {
  display: block;
}
#section-footer .ft-column .recentnews-02 .item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
#section-footer .ft-column .recentnews-02 .item .icon {
  width: 30px;
  display: inline-block;
  float: left;
}
#section-footer .ft-column .recentnews-02 .item .icon i {
  color: #6f7885;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-footer .ft-column .recentnews-02 .item .content {
  display: inline-block;
  width: 325px;
}
#section-footer .ft-column .recentnews-02 .item .content p {
  line-height: 18px;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-footer .ft-column .recentnews-02 .item .content span {
  font-family: Lora-Medium;
  font-size: 11px;
  color: #49525e;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-footer .ft-column .recentnews-02 .item:hover .content span,
#section-footer .ft-column .recentnews-02 .item:hover .icon i {
  color: #f96d00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#section-footer .ft-column .recentnews-02 .item:hover .content p {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 1904px) {
  .navbar-menu .navbar-brand.background-logo:before {
    width: 1604px;
    left: -1470px;
  }
}
@media only screen and (max-width: 1366px) {
  .block-style-30 .logo {
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-right: 0;
    padding-left: 0;
  }
  #section-footer .ft-column:nth-of-type(1) p {
    padding-right: 65px;
  }
}
@media only screen and (max-width: 1199px) {
  .topbar-01 .left .searchbar {
    width: 70%;
  }
  #section-footer .ft-column .recentnews-02 .item .content {
    width: 255px;
  }
  .block-style-6 .tweets .item .tweet-content {
    width: 100%;
  }
  .block-style-15 .content-wrapper .left {
    width: 500px;
  }
  .block-style-15 .content-wrapper .left .details {
    width: 400px;
  }
  .block-style-15 .content-wrapper .right {
    width: 330px;
  }
  .block-style-16 h1 {
    font-size: 30px;
  }
  .list-users-05 .item-wrapper {
    margin-left: 0;
  }
  .list-users-05 .item {
    margin-left: 14px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-menu .navbar-nav .nav-item .nav-link {
    padding: 20px 15px;
  }
  #section-footer .ft-column .tweets .item .tweet-content {
    width: 225px;
  }
  .block-style-10 .small-list-posts .item .content {
    padding-top: 0;
    width: 133px;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_description {
    width: 310px;
    padding: 0 15px;
  }
  #section-slider.slider02 .list-users-02 h3 {
    font-size: 18px;
    line-height: 27px;
  }
  #section-slider.slider02 .thumbnail-1.v1 {
    max-width: 308px;
    height: 552px;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-menu.navbar .dropdown-menu {
    background-color: #fff;
    border-radius: 8px;
    border: none;
    display: block;
    padding: 15px 0;
    margin-top: 2px;
    opacity: 0;
    left: 0;
    right: 0;
    top: 96%;
    width: 270px;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    visibility: hidden;
  }
  .navbar-menu.navbar .dropdown:hover > .dropdown-menu {
    opacity: 1;
    transform: none;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    visibility: visible;
  }
  .navbar-menu.navbar .dropdown-submenu {
    position: relative;
  }
  .navbar-menu.navbar .dropdown-menu .dropdown-menu {
    left: 100%;
    top: -15px;
    margin-top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .navbar-menu.navbar .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
  }
}
@media only screen and (max-width: 991px) {
  #navbarSupportedContent {
    position: absolute;
    top: 61px;
    background-color: #393e46;
    padding-left: 20px;
    padding-right: 20px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto !important;
    overflow-y: auto;
  }
  .navbar-menu .navbar-container {
    justify-content: flex-start;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-menu .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 10px 0;
    font-size: 14px;
    color: #6f7885;
  }
  .navbar-menu .navbar-collapse .navbar-nav .nav-item .nav-link:last-child {
    border-bottom: none;
  }
  .navbar-menu .navbar-nav .nav-item .nav-link:before {
    display: none;
  }
  .navbar-menu #sidebarCollapse {
    margin-left: auto;
    width: 30px;
    padding-right: 0;
    padding-left: 0;
  }
  .topbar-01 .left .searchbar {
    width: 59%;
  }
  .topbar-01 .left .searchbar form input[type="text"] {
    padding: 13px 15px 13px;
  }
  .topbar-01 .left .searchbar form img {
    right: 15px;
  }
  .navbar-menu .dropdown-submenu .dropdown-submenu ul.dropdown-menu {
    border-radius: 0;
    width: 100.1%;
  }
  .navbar-menu .navbar-nav .nav-item.dropdown-submenu.dropdown .nav-link:after,
  .navbar-menu .navbar-nav .nav-link.dropdown-toggle:after {
    color: #6f7885;
  }
  .navbar-menu .dropdown-item {
    padding: 5px 15px;
  }
  .navbar-menu .dropdown-submenu ul.dropdown-menu > li:before {
    display: none;
  }
  .navbar-menu
    .dropdown-submenu
    .dropdown-submenu
    ul.dropdown-menu
    > li
    .dropdown-item {
    padding: 5px 5px 5px 30px;
  }
  .navbar-menu .dropdown-submenu ul.dropdown-menu > li a.dropdown-item:hover {
    left: 0;
  }
  .navbar-menu .navbar-nav .nav-item .nav-link:after {
    display: none;
  }
  #section-footer .ft-column .recentnews-02 .item .content {
    width: auto;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_description {
    width: 390px;
    padding: 0 15px;
  }
  #section-slider.slider02 .thumbnail-1 {
    margin-bottom: 2px;
  }
  #section-slider.slider02 .thumbnail-1.v1 {
    max-width: 100%;
    width: 100%;
    height: 500px;
  }
  #section-slider.slider02 .thumbnail-1.v2,
  #section-slider.slider02 .thumbnail-1.v3 {
    max-width: 49.7%;
    width: 50%;
    height: 500px;
  }
  .block-style-15 .content-wrapper .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .block-style-15 .content-wrapper .left .details {
    width: 100%;
    text-align: center;
  }
  .block-style-15 .content-wrapper .right {
    width: 100%;
  }
  .block-style-15 .content-wrapper .right ul.social_links {
    margin-top: 25px;
    text-align: center;
    padding: 0;
  }
  .block-style-15 .content-wrapper .left .thumbnail-img {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .block-style-15 .content-wrapper .left .details h6 {
    margin-bottom: 10px;
  }
  #section-contents {
    padding: 80px 0 80px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-menu .navbar-brand {
    width: 50%;
  }
  .navbar-menu .navbar-brand:before {
    left: auto;
    right: 0;
  }
  .topbar-01 .left {
    padding-right: 0;
    padding-left: 0;
  }
  .topbar-01 .left .today {
    display: none;
  }
  .topbar-01 .left .searchbar {
    width: 100%;
  }
  .topbar-01 .right {
    position: unset;
  }
  .notification {
    display: none;
  }
  .topbar-01 .right .user-profile {
    top: 8px;
  }
  .navbar-menu .navbar-brand.background-logo:before {
    left: auto;
    right: 0;
  }
  .block-title-1 {
    padding: 25px 15px;
  }
  .block-style-6 .tweets {
    padding: 30px 15px;
  }
  .block-style-10 .small-list-posts {
    padding: 30px 15px;
  }
  .block-style-10 .small-list-posts .item .content {
    padding-top: 0;
    width: 163px;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_description {
    width: 100%;
    padding: 0;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_thumbnail {
    margin-bottom: 15px;
    width: 100%;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_description h4 {
    margin-bottom: 5px;
    width: 100%;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_description h2 {
    margin-bottom: 10px;
  }
  .block-style-13 .content-wrapper .recent-videos .item .video_description p {
    line-height: 22px;
  }
  .block-style-13 .content-wrapper .recent-videos .item {
    padding: 20px 15px;
  }
  #section-slider.slider02 {
    padding: 110px 0 0;
  }
  #section-slider.slider02 .thumbnail-1.v1 {
    max-width: 100%;
    width: 100%;
    height: 320px;
  }
  #section-slider.slider02 .thumbnail-1 {
    margin-bottom: 30px !important;
  }
  #section-slider.slider02 .thumbnail-1.v2 {
    margin: 0;
  }
  #section-slider.slider02 .thumbnail-1.v2,
  #section-slider.slider02 .thumbnail-1.v3 {
    max-width: 100%;
    width: 100%;
    height: 320px;
  }
  #section-slider.slider02 .list-users-02 h3 {
    font-size: 18px;
    line-height: 25px;
  }
  #section-slider.slider02 .thumbnail-1:last-of-type {
    margin-bottom: 0 !important;
  }
  .block-style-15 .content-wrapper {
    padding: 40px 15px 35px;
  }
  .block-style-15 .content-wrapper .left .details {
    padding: 0 15px;
  }
  .block-style-16 {
    padding: 50px 20px 45px;
  }
  .block-style-16 h1 {
    font-size: 25px;
  }
  .block-style-16 h1 {
    margin-bottom: 20px;
  }
  .block-style-18 {
    padding: 43px 20px 52px;
  }
  .block-style-19 {
    padding: 0 20px;
  }
  #section-slider.slider05 .slider-content h1 {
    font-size: 30px;
  }
  .block-style-27 {
    padding: 47px 30px 27px;
  }
  .block-style-27 .contact-form .form-group {
    margin-bottom: 20px;
  }
  .block-style-29 .login-wrapper {
    padding: 67px 30px 20px;
  }
  .block-style-30 .header h1 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar-brand {
    margin-right: 0;
  }
  .topbar-01 .left .searchbar ::-webkit-input-placeholder {
    font-size: 13px;
  }
  .topbar-01 .left .searchbar ::-moz-placeholder {
    font-size: 13px;
  }
  .topbar-01 .left .searchbar :-ms-input-placeholder {
    font-size: 13px;
  }
  .topbar-01 .left .searchbar :-moz-placeholder {
    font-size: 13px;
  }
  .block-style-19 .content-wrapper .share {
    width: 100%;
  }
  .block-style-19 .content-wrapper .like {
    margin-bottom: 10px;
  }
  .block-style-19 .content-wrapper .share .item {
    margin-left: 0;
    margin-right: 5px;
  }
  .block-style-27 {
    padding: 47px 20px 27px;
  }
  .block-style-29 .login-wrapper {
    padding: 67px 20px 20px;
  }
}
